


nav {
  background-color: black;
  padding: 1rem;
  display: flex;
  align-items: baseline;
  gap: 2rem;
  .navbar-brand {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .mr-auto {
    display: flex;
    li {
      a {
        text-decoration: none;
        color: white;
        font-family: 'Open Sans', sans-serif;
        cursor: pointer;
        transition: color 0.3s;
      }
      a:hover {
        color: lightgray;
      }
    }
  }
}
