.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
  // h4 {
  //   font-family: 'Roboto', sans-serif;
  //   font-size: 1.5rem;
  // }
  // ul {
  //   border: 1px lightgray solid;
  //   border-radius: 5px;
  //   padding: 0;
  //   li {
  //     list-style: none;
  //     font-family: 'Open Sans', sans-serif;
  //     cursor: pointer;
  //     padding: 1rem;
  //     border-bottom: solid 1px lightgray;
  //   }
  //   li:hover {
  //     background-color: lightblue;
  //   }
  // }
}
